<div>
    <md-content>
        <md-toolbar class="stay-top" ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <h2><span>{{page.title}}</span></h2>
                <md-button class="md-raised" ng-click="goToFakture()">Fakture</md-button>
                <span flex></span>
                <h3 class="toolbar-item"><span>{{zaposleni.ime}} {{zaposleni.prezime}}</span></h3>
                <md-button class="md-raised" ng-click="logout()">
                    Logout
                </md-button>
            </div>
        </md-toolbar>
        <section id="container" class="page active">
            <ui-view></ui-view>
        </section>

    </md-content>
</div>